@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

hr {
    border-top: 2px solid #2c3e50; /* Dark blue color */
}

.dropdown-container {
    gap: 10px;
    position: relative;
    z-index: 1000;
    width: 100%; /* Adjust width to 100% of the parent container */
    max-width: 1000px; /* Set maximum width if desired */
}


.dropdown-button {
    width: 100%;
    margin-top: 10px;
    background-color: #34495e; /* Dark blue color */
    color: #fff; /* White color */
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Roboto", sans-serif; /* Change to Roboto */
    font-size: 14px;
    text-align: center; /* Center the text */
    margin-bottom: 10px ;
}

.tabs-group {
    padding-top: 20px;
}

.app-div {
    padding: 10px;
    font-family: "Roboto", sans-serif; /* Change to Roboto */
}

.data-table-div {
    margin: auto;
    padding: 10px;
    font-family: "Roboto", sans-serif; 
    width: 100%; /* Adjust width as needed */
    max-width: 1000px; /* Setting maximum width */
    box-sizing: border-box; /* Include padding in the total width */
}

.budget-label {
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif; 
}

.budget-text {
    font-size: 20px;
    font-family: "Roboto", sans-serif; 
}

.budget-text-value {
    font-size: 20px;
    font-style: italic;
    font-family: "Roboto", sans-serif; 
}

.budget-progress-bar {
    height: 20px;
    background-color: #2980b9; /* blue */
}

.budget-tooltip {
    font-size: 18px;
    font-family: "Roboto", sans-serif; 
}

.checklist {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif; 
}

@media(max-width: 800px) {
    .dropdown-container {
        /* Add additional styles if necessary */
    }
}